<div ng-controller="formCtrl">
  <div class="container-fluid center_div">
    <form ng-submit="submit()">
      <legend>What did you find?</legend>
      <label for="description">Description:</label>
      <textarea rows="3" type="text" name="description" id="description" ng-model="upload.description" required placeholder="Location -- Time -- Weather"></textarea>
      <br/>
      <input type="file" name="file" id="file" ng-model="upload.file" ngf-select ngf-max-size="25MB" required/>
      <br/>
      <input type="submit" value="Submit" />
    </form>
  </div>
  <h2>All uploads are here:</h2>
  <ul>
    <li ng-repeat="upload in uploads">
      <p>{{upload.name}}</p>
      <img ng-src='{{upload.file.path + "/" + upload.file.originalname}}'>
    </li>
  </ul>
</div>