* {
    font-family: 'Quicksand';
}

html, body {
  height: 100%;
}

#mainHeader {
  color: red;
  text-align: center;
  font-family: 'Faster One';
  font-size: 80px;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}


.navbar-nav > li {
  float: none;
  display: inline-block;
}
  
.carousel-img img {
  width: auto;
  height: 225px;
  max-height: 225px;
}

form {
  width:50%;
  margin:30 auto;
  border-style: double dotted double;
  border-width: thick;
  border-color: red;
  padding: 20px;
  text-align: center;
}

.center_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#carousel {
  border-style: double dotted double;
  border-width: thick;
  border-color: red;
  height: 305px;
  padding: 20px;
  font-family: 'Quicksand';
}

#insectLabels {
  font-family: 'Quicksand';
  border-style: double dotted double;
  border-width: thick;
  border-color: red;
}

#carousel .carousel-indicators {
    bottom: none;
    top: -17px;
}

#carousel .carousel-control {
    color: #000;
    opacity: 1;
    font-size: 42px;
    text-shadow: none;
    background-image: none;
    width: 0%;
}

#carousel .carousel-indicators .active  {
  background-color: red;
}

#carousel .carousel-indicators li {
    border: 1px solid red;
    border-radius: 0px;
}

#visionResults {
  text-transform: capitalize;
}

#carouselIndex {
  font-size: 30px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  top: 40%;
  z-index: 4;
  margin-top: 0px;
}